body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  color: hsl(215, 51%, 70%);
}

.nft {
  height: 65vh;
  width: 85vw;
  margin: 5rem auto;
  background-color: hsl(250, 60%, 15%);
  border-radius: 15px;
}

.nft-content {
  padding: 1.35rem;
}

.nft-content .nft-image {
  width: 100%;
  height: 100%;
}

.nft-content h3 {
  color: white;
  font-weight: 600;
}

.nft-content p {
  color: hsl(215, 51%, 70%);
}

.nft-metrics .price-metrics,
.nft-metrics .time-metrics {
  display: inline;
}

.nft-metrics .time-metrics {
  margin-left: 75px;
}

.nft-metrics .nft-price,
.nft-metrics .nft-time-left {
  display: inline;
}

.nft-metrics .nft-price,
.nft-metrics .nft-icon {
  margin: auto;
}

.price-metrics .nft-price {
  color: hsl(178, 100%, 50%);
}

hr {
  color: black;
}

.nft-creator .nft-creator-img,
.nft-creator p {
  display: inline;
}

.nft-creator p {
  position: fixed;
  left: 110px;
}

.nft-creator .nft-creator-img {
  width: 15%;
  height: auto;
}
