body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  color: hsl(215, 51%, 70%);
  padding: 2rem;
  height: 100vh;
}

.nft {
  margin: 5rem auto;
  background-color: hsl(216deg 50% 16%);
  border-radius: 15px;
}

.nft-content {
  padding: 1.35rem;
}

.nft-content .nft-image {
  position: relative;
}

.nft-image > img,
.nft-image .overlay {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  display: block;
}

.nft-image .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background: hsl(178deg 100% 50% / 31%);
  opacity: 0;
}

.nft-image:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.overlay > img {
  transform: translate(0, 475%);
}

.nft-content h3 {
  color: white;
  font-weight: 600;
}

.nft-content h3:hover {
  color: hsl(178, 100%, 50%);
}

.nft-content p {
  color: hsl(215, 51%, 70%);
}

.nft-metrics {
  width: 100%;
  display: inline-flex;
}

.nft-metrics .price-metrics,
.nft-metrics .time-metrics {
  display: flex;
  align-items: center;
  width: 100%;
}

.nft-metrics .price-metrics {
  margin: 0 auto 0 0;
}

.nft-metrics .time-metrics {
  margin: 0 0 0 auto;
  justify-content: flex-end;
}

.nft-metrics .nft-price,
.nft-metrics .nft-time-left {
  display: inline;
}

.nft-metrics .nft-icon {
  margin: 0 5% 0 0;
}

.price-metrics .nft-price {
  color: hsl(178, 100%, 50%);
}

hr {
  border: 1px hsl(215, 32%, 27%) solid;
}

.nft-creator {
  display: flex;
  margin: 0.5rem 0;
  align-items: center;
  width: 100%;
}

.nft-creator .nft-creator-img {
  width: 15%;
  height: auto;
  border: 1px white solid;
  border-radius: 50%;
  margin-right: 5%;
}

.nft-creator span {
  color: white;
}

.nft-creator span:hover {
  color: hsl(178, 100%, 50%);
}

.attribution {
  font-size: 0.8rem;
}

@media screen and (min-width: 760px) {
  .nft {
    width: 50%;
  }

  .attribution {
    text-align: center;
  }

  .nft-creator .nft-creator-img {
    width: 12%;
  }
}

@media screen and (min-width: 1024px) {
  .nft {
    width: 40%;
    margin: 10rem auto;
  }
}
@media screen and (min-width: 1440px) {
  .nft {
    width: 30%;
    margin: 12rem auto;
  }

  .attribution {
    margin-bottom: 3rem;
  }
}
